p{
	color: white;
	background-color:red;
	font-weight: bold;
}

.btn{
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	color: black;
	margin: 10px 0;
	display: inline-block;
	font-weight: bold;
	transition: 0.3s;
}

.btn:hover{
	transform: scale(1.2);
}

div{
	text-align:center;
}